
/*Basis dingen*/
.profielKop{
  overflow: hidden;
  position: relative;
  width: 12vw;
  min-height: 27vw;
  left: 1.5vw;
  top: 5vw;
  background-color: #E4E4E5;
  height: auto;
  max-height: 30vw;
}
.profielImage{
  width: 100%;
  height: 12vw;
}
.profielkleur{
  color: black;
}
.profielkleur2{

}
.profielkleur3{

}
.innerProfiel{
  position: relative;
  width: 100%;
  height: 60%;
  padding-top: 2%;
  text-align: center;
}
.buttonProfiel{
  margin-top: 8%;
  background-color: inherit;
  border: none;
  width: 100%;
}
.tweev{
  font-size: 2vw;
}
.anderhalfv{
  font-size: 1.5vw;
}
.eenv{
  font-size: 1vw;
}
.watProfiel{
  position:relative;
  color: black;
  background-color: #d1d1d1;
  top: 0;
  left: 0;
  width: 93%;
  height: 2.5vw;
  padding: 0.5vw 5% 0.5vw 2%;
}
.vriendbar{
  position: absolute;
  top: -3.55vw;
  width: 93%;
}
.over{
  position: absolute;
  width: 40vw;
  min-height:18vw;
  height: auto;
  padding-bottom: 1vw;
  top: 5vw;
  left: 15%;
  background-color: #E4E4E5;
}
/*De rest*/
.persoonlijke{
  margin-top: 0.3vw;
  margin-left: 0.6vw;
}
.vrienden{
  position: absolute;
  width: 40vw;
  height: 42vw;
  right: 2vw;
  top: 5vw;
  background-color: #E4E4E5;
}
.vrienden_inner{
  position: absolute;
  top: 3.5vw;
  padding: 1vw 0vw 0.5vw 10%;
  width: 90%;
  height: 88%;
}
.vriend{
  display: inline-block;
  margin-left: 3%;
  font-size: 1.2vw;
  text-align: center;
  overflow-y: hidden;
  margin-top: 0.3vw;
  height: 11vw;
  width: 9vw;
}
.fotos{
  position: absolute;
  left: 1.5vw;
  top: 35vw;
  width: 54vw;
  height: 17vw;
  background-color: #E4E4E5;
}
.krabels{
  position: absolute;
  left: 1.5vw;
  top: 55vw;
  width: 54vw;
  height: 40vw;
  background-color: #E4E4E5;
  overflow: hidden;
}
.profiel_films{
  position: absolute;
  right: 2vw;
  top: 72vw;
  width: 40vw;
  height: 23vw;
  background-color: #E4E4E5;
}
.foto{
  position: relative;
  margin: 1vw 0vw 1vw 1vw;
  height: 9vw;
  width: 9vw;
  display: inline-block;
  background-color: white;
  transition: 0.2s;
}
.foto2{
  position: relative;
  margin: 1vw 0vw 1vw 1vw;
  /* height: 18vw; */
  height: auto;
  width: 18vw;
  display: inline-block;
  background-color: white;
  transition: 0.2s;
}
.hoverscale:hover{
  transform: scale(1.05,1.05);
}
.profiel_muziek{
  position: absolute;
  right: 2vw;
  top: 55vw;
  width: 40vw;
  height: 15vw;
  background-color: #E4E4E5;
}
.muziek{
  margin: 1.5vw 0vw 0vw 1.5vw;
  height: 7vw;
  width: 7vw;
  background-color: white;
  display: inline-block;
}
.whitespace{
  position: relative;
  top:80vw;
  height: 20vw;
  width: 100vw;
}
.footer{
  top: 85vw;
}
.meer{
  position: absolute;
  color: black;
  bottom: 0.5vw;
  left: 1vw;
}
.vriendenButton{
  margin-top: 1.2vw;
  border: none;
  background:none;
  height: 8vw;
  width: 9vw;
  transition: 0.2s;
}
.vriendenImage{
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
.vriendenButton:hover .vriendenImage{
  filter: blur(0.1vw);
  -webkit-filter: blur(0.1vw);
  width: 98%;
  height: 7.8vw;
}

/*Image modal functie css Dit is W3 schools code maar dan aangepast*/
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#myImg:hover {opacity: 0.7;}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 3vw;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 40vw; /*Moet aangepast worden voor mobiel*/
}

.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close2 {
  position: absolute;
  top: 1vw;
  right: 3vw;
  color: #f1f1f1;
  font-size: 4vw;
  font-weight: bold;
  transition: 0.3s;
}

.close2:hover,
.close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
