

@media only screen/*iphone 6/7/8*/
and (min-device-width : 375px)
and (max-device-width : 667px) {

  body{
    width: 78vw;
  }
  .text{
    font-size: 3vw;
  }
  .text2{
    font-size: 2.6vw;
  }
  .iphone{/*hidden on iphone*/
    display: none;
  }
  .space{
    height: 1.5vw;
  }
  .cookie{
    width: 103vw;
  }
  /*header*/
  .header{
    top: 3vh;
  }
  .header_div{
    font-size: 4.4vw;
  }
  /*searchbar*/
  .searchbar{
    /* display: none; */
    top: 4.8vw;
    height: 10vw;
    left: 2.5%;
    width: 98%;
  }
  .search{
    top: 18%;
    left: 30%;
  }
  .logotext{
    bottom:8%;
    font-size: 460%;
  }
  .header_in{
    width: 60%;
    font-size: 5vw;
  }
  .header_buttons{
    left: 2.6%;
  }
  .fa-1x{
    border-left: 0.1vw solid rgba(0,0,0,0.3);
    position: absolute;
    background-color: #FEF5EB;
    padding: 3%;
    padding-left: 5%;
    width: 10%;
    height: 46%;
    top: 3%;
    font-size: 3vw!important;
  }


  /*Body section ---------------*/
  .body{
    position: relative;
    top: 8vh;
  }
  .kop{
    position: absolute;
    font-size: 5vw;
    left: 20.5%;
    top: -0vh;
  }
  .niews{
    width: 95%;
    height: 33vw;
  }
  .uitschuif{
    font-size: 2.8vw;
  }
  .vandaag{
    top: 110vw;
  }
  /*poll*/
  .poll{
    width: 70%;
    height: 44vw;
    top: 103vw;
    left: 3.5vw;
  }
  .procent{
    font-size: 3vw;
  }
  .inlog_ver{
    font-size: 3.5vw;
  }
  /*weer*/
  .weer{
    left: 3.5vw;
    top: 152vw;
    width: 70%;
    height: 23vw;
  }
  .dag{
    font-size: 4vw;
    width: 6vw;
    height: 6vw;
  }
  .nacht{
    font-size: 4vw;
    width: 6vw;
    height: 6vw;
  }
  /*live chat*/
  .recentchat{
    top: 185vw;
    width: 96%;
    left: 3.5vw;
  }
  /*recent nieuws*/
  .nieuws_sec{
    top: 40vw;
    width: 100%;
    height: 28vh;
  }
  .artikel{
    left: -1vw;
    width: 46%;
  }
  .artikel_text{
    font-size: 2.1vw;
  }
  .datum{
    font-size: 1.8vw;
  }

}

@media only screen /*iphone X*/
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {

        /*cookies*/
        .cookie{
          height: 6vh;
          font-size: 2vh;
        }

        /*header*/
        .header_div{
          font-size: 2.8vw;
        }
        .searchbar{
          top: 2vh;
        }
        .poll{
          top: 110vw;
        }
        .weer{
          top: 161vw;
        }
        .artikel_text{
          font-size: 2.6vw;
        }
        .datum{
          font-size: 2.4vw;
        }
        .recentchat{
          height: 130vw;
          top: 195vw;
        }
    }

    @media only screen /*Ipad*/
      and (min-device-width : 768px)
      and (max-device-width : 1024px)  {

        .searchbar{
          height: 6vw;
          top: 3vw;
        }
        .inlog{
          top: -0.4vw;
        }


      }
