
@media only screen and (max-width: 600px) {
  /* body {background: red;} */
  .header{
    top: 0;
  }
  .header_buttons{
    display: none;
  }
  .logotext{
    font-size: 5.2vh;
  }
  .header_in{
    position: relative;
    font-size: 9vw;
    width: 40vw;
    left: 10vw;
  }
  .search{
    top: 15%;
    left: 30vw;
  }
  .header_zoek{
    position: absolute;
    font-size: 8vw;
    left: 50vw;
    height: 101.8%;
    width: 15vw;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* body {background: green;} */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* body {background: blue;} */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* body {background: orange;} */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* body {background: pink;} */
}
